@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* MINHAS CORES */
.laranjaEspacial_bg{background-color: #D64933;}
.azulEspacial_bg{background-color: #2B303A;}
.branco { color: white; }


/* Reset de estilos */
body, h1, p, ul, ol, li, a, img, section, div, header, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Inter";
    vertical-align: baseline;

}

/* Estilos para elementos */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-image: url('https://images5.alphacoders.com/134/1347410.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

nav{
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

nav ul li {
    display: inline;
}

a {
  color: black;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #2B303A;
  cursor: pointer;
  text-decoration: none; 
  background-color: white;
  display: inline-block; /* Adiciona esta linha */
  width: 200px;
}

a:hover{
  color: #0073ff;
}

h1{
  font-size: 30px;
  color: #ffee00;
}

.avatar {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    align-self: flex-start;

    position: relative; /* Adiciona posição absoluta */
  }

.informacoes{
  display: flex;
    justify-content: space-evenly;
}

.informacoes h1{
  font-size: 20px;
}

.bloco{
  background:rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba(104, 221, 189, 0.1);
  -webkit-backdrop-filter: blur( 13.5px );
  -moz-backdrop-filter: blur(12px);
  -o-backdrop-filter: blur(12px);
  -ms-backdrop-filter: blur(12px);
  width: 300px;
  border-radius: 5px;
}

main {
    padding: 9px;
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

img.icon{
  width: 5%;
  height: 5%;
  margin-right: 10px; /* Isso adiciona uma margem de 10px à esquerda e à direita de cada elemento p */
}

.titulo-sessao{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

footer {
    text-align: center;
    padding: 20px;
}


.img-postagem{
    width: 60%;
    margin-right: 15px; /* Adiciona um espaço de 10px à direita da imagem */
}

.container {
    border: 2px solid #d84b4b;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  }
  
  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }

    .avatar{
        width: 20%;
        height: 20%;
    }
  }

article{
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.usuario{
  display: flex;
  color: #2B303A;
  margin-bottom: 15px;
}

.usuario img{
  border-radius: 50%;
  margin-right: 15px; /* Adiciona um espaço de 10px à direita da imagem */
}

.usuario div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.post{
  display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    color: #2B303A;
}

.sessao-de-post{
  background-color: white;
  color: #2B303A;
  text-align: justify
}



.tags{
  color: #0073ff;
  font-style: oblique;
}

.nome{
  font-weight: bold
}

.data-hora{
  font-style: oblique
}

.dados-post{
  display: flex;
}

.dados-post p {
  margin-right: 10px; /* Isso adiciona uma margem de 10px à esquerda e à direita de cada elemento p */
}

.emojis img, div.gallery.emojis img{
  width: 10%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.emojis img:hover, div.gallery.emojis img:hover{
  transform: scale(1.6);
}


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

.gallery-img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.outros-posts{
  display: flex;
}

.botoes{
  display: flex;
  color: #2B303A;
  justify-content: space-evenly;
}

.botoes a{
  width: auto;
}

.botoes a:hover{
  color: #0073ff;
}