.amarelo { color: yellow; }
.amarelo_bg { background-color: yellow; }
.amarelo_bx { border-left-color: yellow; border-top-color: yellow; }
.amarelo_by { border-right-color: yellow; border-bottom-color: yellow; }
.amareloClaro { color: lightyellow; }
.amareloClaro_bg { background-color: lightyellow; }
.amareloClaro_bx { border-left-color: lightyellow; border-top-color: lightyellow; }
.amareloClaro_by { border-right-color: lightyellow; border-bottom-color: lightyellow; }
.amareloEscuro { color: darkyellow; }
.amareloEscuro_bg { background-color: darkyellow; }
.amareloEscuro_bx { border-left-color: darkyellow; border-top-color: darkyellow; }
.amareloEscuro_by { border-right-color: darkyellow; border-bottom-color: darkyellow; }
.azul { color: blue; }
.azul_bg { background-color: blue; }
.azul_bx { border-left-color: blue; border-top-color: blue; }
.azul_by { border-right-color: blue; border-bottom-color: blue; }
.azulClaro { color: lightblue; }
.azulClaro_bg { background-color: lightblue; }
.azulClaro_bx { border-left-color: lightblue; border-top-color: lightblue; }
.azulClaro_by { border-right-color: lightblue; border-bottom-color: lightblue; }
.azulEscuro { color: darkblue; }
.azulEscuro_bg { background-color: darkblue; }
.azulEscuro_bx { border-left-color: darkblue; border-top-color: darkblue; }
.azulEscuro_by { border-right-color: darkblue; border-bottom-color: darkblue; }
.branco { color: white; }
.branco_bg { background-color: white; }
.branco_bx { border-left-color: white; border-top-color: white; }
.branco_by { border-right-color: white; border-bottom-color: white; }
.brancoEscuro { color: #ddd; }
.brancoEscuro_bg { background-color: #ddd; }
.brancoEscuro_bx { border-left-color: #ddd; border-top-color: #ddd; }
.brancoEscuro_by { border-right-color: #ddd; border-bottom-color: #ddd; }
.cianoEscuro { color: darkcyan; }
.cianoEscuro_bg { background-color: darkcyan; }
.cianoEscuro_bx { border-left-color: darkcyan; border-top-color: darkcyan; }
.cianoEscuro_by { border-right-color: darkcyan; border-bottom-color: darkcyan; }
.ciano { color: cyan; }
.ciano_bg { background-color: cyan; }
.ciano_bx { border-left-color: cyan; border-top-color: cyan; }
.ciano_by { border-right-color: cyan; border-bottom-color: cyan; }
.cinzaEscuro { color: darkgray; }
.cinzaEscuro_bg { background-color: darkgray; }
.cinzaEscuro_bx { border-left-color: darkgray; border-top-color: darkgray; }
.cinzaEscuro_by { border-right-color: darkgray; border-bottom-color: darkgray; }
.cinza { color: gray; }
.cinza_bg { background-color: gray; }
.cinza_bx { border-left-color: gray; border-top-color: gray; }
.cinza_by { border-right-color: gray; border-bottom-color: gray; }
.laranja { color: orange; }
.laranjaClaro { color: lightorange; }
.laranjaClaro_bg { background-color: lightorange; }
.laranjaClaro_bx { border-left-color: lightorange; border-top-color: lightorange; }
.laranjaClaro_by { border-right-color: lightorange; border-bottom-color: lightorange; }
.laranjaEscuro { color: darkorange; }
.laranjaEscuro_bg { background-color: darkorange; }
.laranjaEscuro_bx { border-left-color: darkorange; border-top-color: darkorange; }
.laranjaEscuro_by { border-right-color: darkorange; border-bottom-color: darkorange; }
.laranja_bg { background-color: orange; }
.laranja_bx { border-left-color: orange; border-top-color: orange; }
.laranja_by { border-right-color: orange; border-bottom-color: orange; }
.magenta { color: magenta; }
.magentaEscuro { color: darkmagenta; }
.magentaEscuro_bg { background-color: darkmagenta; }
.magentaEscuro_bx { border-left-color: darkmagenta; border-top-color: darkmagenta; }
.magentaEscuro_by { border-right-color: darkmagenta; border-bottom-color: darkmagenta; }
.magenta_bg { background-color: magenta; }
.magenta_bx { border-left-color: magenta; border-top-color: magenta; }
.magenta_by { border-right-color: magenta; border-bottom-color: magenta; }
.marrom { color: brown; }
.marromEscuro { color: darkbrown; }
.marromEscuro_bg { background-color: darkbrown; }
.marromEscuro_bx { border-left-color: darkbrown; border-top-color: darkbrown; }
.marromEscuro_by { border-right-color: darkbrown; border-bottom-color: darkbrown; }
.marrom_bg { background-color: brown; }
.marrom_bx { border-left-color: brown; border-top-color: brown; }
.marrom_by { border-right-color: brown; border-bottom-color: brown; }
.ouro { color: gold; }
.ouroEscuro { color: darkgold; }
.ouroEscuro_bg { background-color: darkgold; }
.ouroEscuro_bx { border-left-color: darkgold; border-top-color: darkgold; }
.ouroEscuro_by { border-right-color: darkgold; border-bottom-color: darkgold; }
.ouro_bg { background-color: gold; }
.ouro_bx { border-left-color: gold; border-top-color: gold; }
.ouro_by { border-right-color: gold; border-bottom-color: gold; }
.prata { color: silver; }
.prataEscuro { color: darksilver; }
.prataEscuro_bg { background-color: darksilver; }
.prataEscuro_bx { border-left-color: darksilver; border-top-color: darksilver; }
.prataEscuro_by { border-right-color: darksilver; border-bottom-color: darksilver; }
.prata_bg { background-color: silver; }
.prata_bx { border-left-color: silver; border-top-color: silver; }
.prata_by { border-right-color: silver; border-bottom-color: silver; }
.preto { color: black; }
.pretoEscuro { color: darkblack; }
.pretoEscuro_bg { background-color: darkblack; }
.pretoEscuro_bx { border-left-color: darkblack; border-top-color: darkblack; }
.pretoEscuro_by { border-right-color: darkblack; border-bottom-color: darkblack; }
.preto_bg { background-color: black; }
.preto_bx { border-left-color: black; border-top-color: black; }
.preto_by { border-right-color: black; border-bottom-color: black; }
.rosa { color: pink; }
.rosaEscuro { color: darkpink; }
.rosaEscuro_bg { background-color: darkpink; }
.rosaEscuro_bx { border-left-color: darkpink; border-top-color: darkpink; }
.rosaEscuro_by { border-right-color: darkpink; border-bottom-color: darkpink; }
.rosa_bg { background-color: pink; }
.rosa_bx { border-left-color: pink; border-top-color: pink; }
.rosa_by { border-right-color: pink; border-bottom-color: pink; }
.roxo { color: purple; }
.roxoEscuro { color: darkpurple; }
.roxoEscuro_bg { background-color: darkpurple; }
.roxoEscuro_bx { border-left-color: darkpurple; border-top-color: darkpurple; }
.roxoEscuro_by { border-right-color: darkpurple; border-bottom-color: darkpurple; }
.roxo_bg { background-color: purple; }
.roxo_bx { border-left-color: purple; border-top-color: purple; }
.roxo_by { border-right-color: purple; border-bottom-color: purple; }
.verde { color: green; }
.verdeClaro { color: lightgreen; }
.verdeClaro_bg { background-color: lightgreen; }
.verdeClaro_bx { border-left-color: lightgreen; border-top-color: lightgreen; }
.verdeClaro_by { border-right-color: lightgreen; border-bottom-color: lightgreen; }
.verdeEscuro { color: darkgreen; }
.verdeEscuro_bg { background-color: darkgreen; }
.verdeEscuro_bx { border-left-color: darkgreen; border-top-color: darkgreen; }
.verdeEscuro_by { border-right-color: darkgreen; border-bottom-color: darkgreen; }
.verde_bg { background-color: green; }
.verde_bx { border-left-color: green; border-top-color: green; }
.verde_by { border-right-color: green; border-bottom-color: green; }
.vermelho { color: red; }
.vermelhoClaro { color: lightred; }
.vermelhoClaro_bg { background-color: lightred; }
.vermelhoClaro_bx { border-left-color: lightred; border-top-color: lightred; }
.vermelhoClaro_by { border-right-color: lightred; border-bottom-color: lightred; }
.vermelhoEscuro { color: darkred; }
.vermelhoEscuro_bg { background-color: darkred; }
.vermelhoEscuro_bx { border-left-color: darkred; border-top-color: darkred; }
.vermelhoEscuro_by { border-right-color: darkred; border-bottom-color: darkred; }
.vermelho_bg { background-color: red; }
.vermelho_bx { border-left-color: red; border-top-color: red; }
.vermelho_by { border-right-color: red; border-bottom-color: red; }

/* MINHAS CORES */
.laranjaEspacial_bg{background-color: #D64933;}
.azulEspacial_bg{background-color: #2B303A;}